attrib_slides-cache/
.Rproj.user
.Rhistory
.RData
SlidesTorino2013-cache
SlidesTorino2013-figure
SlidesTorino2013.css
SlidesTorino2013.html
SlidesTorino2013.md
SlidesTorino2013_2.Rpres
TorinoSlides2013_final-cache
TorinoSlides2013_final-figure
TorinoSlides2013_final-rpubs.html
TorinoSlides2013_final.css
TorinoSlides2013_final.html
TorinoSlides2013_final.md
TorinoSlides2013_final.pdf
analysis.html
analysis.md
article2013.Rmd~
article2013.aux
article2013.docx
article2013.html
article2013.log
article2013.odt
article2013.md
article2013.out
article2013.tex
attrib_year2013.Rproj
cache
data
df.csv
ebook.txt
index.md
jekyll_testi.Rmd
jekyll_testi.html
jekyll_testi.md
moscow2013
multilevel.html
multilevel.md
paperin_ideointia_postTorino2013
perl
slides
temp2.png
temp_explanation.png
tex_templates
texput.log
torinoslaidit2013_etherpadcopypaste
descriptive_analysis.md
torino2013
loadClean.md
article2013.epub
article2013_MKainu.pdf
finalPlots.md
finalTables.md
finalTables.pdf
regressionModelling.md
mapPlots.md
oldTables.pdf
turku2013
.RData.SyncPart
article2013.md.!sync
article2013.toc
mikolta20131108.txt
attrib_slides-figure
attrib_slides.md
article2013.md.SyncPart
memo
slidearchive
attributions.Rproj
compareWaves.md
knitfiles.R
article_cache/
article2013_cache/
.gitignore.SyncOld
compareWaves_files
finalPlots_cache
mapPlots_cache
correlations.md
MKainu_progress_report_feb2014.pdf